name: Artifacts at every commit
on:
  push:
    branches:
      - master
      - 1.20_feature

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python 3.11
        uses: actions/setup-python@v2
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.3.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Setup cache for dependencies
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{  runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_HASH: ${{ github.sha }}
        run: |
          poetry run python .github/workflows/artifact.py
          poetry run python -m beet -p beet-artifact.yaml
      
      # Upload build/ datapack.zip, resourcepack.zip, datapack-bundled.zip, resourcepack-bundled.zip
      - uses: actions/upload-artifact@v3
        with:
          name: datapack
          path: build/datapack/
      - uses: actions/upload-artifact@v3
        with:
          name: resourcepack
          path: build/resourcepack/
      - uses: actions/upload-artifact@v3
        with:
          name: datapack-bundled
          path: build/datapack-bundled/
      - uses: actions/upload-artifact@v3  
        with:
          name: resourcepack-bundled
          path: build/resourcepack-bundled/
      
      
