name: Artifacts at every commit
on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv sync --group dev
      - name: Setup OpenGL and Run Tests
        uses: edayot/model_resolver@master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_HASH: ${{ github.sha }}
        with:
          commands: |
            uv run beet -s data_pack.name=\"datapack-bundled\" -s resource_pack.name=\"resourcepack-bundled\"
            uv run beet -s data_pack.name=\"datapack\" -s resource_pack.name=\"resourcepack\" -s meta.weld_deps.enabled=false

      
      # Upload build/ datapack.zip, resourcepack.zip, datapack-bundled.zip, resourcepack-bundled.zip
      - uses: actions/upload-artifact@v4
        with:
          name: datapack
          path: build/datapack/
      - uses: actions/upload-artifact@v4
        with:
          name: resourcepack
          path: build/resourcepack/
      - uses: actions/upload-artifact@v4
        with:
          name: datapack-bundled
          path: build/datapack-bundled/
      - uses: actions/upload-artifact@v4
        with:
          name: resourcepack-bundled
          path: build/resourcepack-bundled/
