name: Make a release
on:
  workflow_dispatch:
    inputs:
      version_bump:
        description: 'Overide the automatic version bump (default: automatic)'
        required: true
        default: 'automatic'
        type: choice
        options:
        - automatic
        - patch
        - minor
        - major

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python 3.14
        uses: actions/setup-python@v2
        with:
          python-version: 3.14
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: Install dependencies
        run: uv sync --group dev
      - name: Run update_versions script
        # run the script that prints / logs the current project version
        run: uv run python .github/workflows/update_versions.py
        env:
          VERSION_BUMP: ${{ github.event.inputs.version_bump }}
          GITHUB_SHA: ${{ github.sha }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Setup OpenGL and Release
        uses: edayot/model_resolver@master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_HASH: ${{ github.sha }}
          VERSION_BUMP: ${{ github.event.inputs.version_bump }}
        with:
          commands: |
            git config --global user.name "github-actions"
            git config --global user.email "action@github.com"
            # print the version bump
            echo "Version bump: $VERSION_BUMP"
            if [ "$VERSION_BUMP" = "automatic" ]; then
              uv run semantic-release -v version
            fi
            if [ "$VERSION_BUMP" = "patch" ]; then
              uv run semantic-release -v version --patch
            fi
            if [ "$VERSION_BUMP" = "minor" ]; then
              uv run semantic-release -v version --minor
            fi
            if [ "$VERSION_BUMP" = "major" ]; then
              uv run semantic-release -v version --major
            fi
            uv run semantic-release -v publish

      - name: Run update_last_release script
        continue-on-error: true
        # run the script that prints / logs the current project version
        run: uv run python .github/workflows/update_last_release.py
        env:
          VERSION_BUMP: ${{ github.event.inputs.version_bump }}
          GITHUB_SHA: ${{ github.sha }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
      
      - name: Push to smithed
        continue-on-error: true
        run: uv run python .github/workflows/push-to-smithed.py 
        env:
          SMITHED_UID: ${{ secrets.SMITHED_UID }}
          SMITHED_TOKEN: ${{ secrets.SMITHED_TOKEN }}
      - name: Push to Modrinth
        continue-on-error: true
        run: uv run python .github/workflows/push-to-modrinth.py 
        env:
          MODRINTH_AUTH_TOKEN: ${{ secrets.MODRINTH_AUTH_TOKEN }}
